<h1>RESULTS PAGE!!!</h1>

<%= data["Search"].forEach(function(movie){ %>
    <ul>
        <li>
            <strong>
            <%= moive["Title"] %>
            </strong>
            - <%= moive["Year"] %>
        </li>
    </ul>
    
<% }) %>